
<div class="container">
<h1>Check out my new Book</h1>
<div class="container">

    <img src="../../assets/images/XavierReynoldsCover.jpg" alt="Book Cover">
    <br>
    <button class='btn btn-light btn-lg btn-block'>
        <a href="https://urfavoriteauthor.square.site/" target='_blank'>Purchase Xavier Reynolds by clicking here!</a>
    </button>
    <h3>
        The monsters are real and only Xavier Reynolds has what it takes to slay them!
    </h3>
    <p>There have always been creatures that go bump in the night. But for his entire life, Xavier Reynolds had been hidden from that truth. Believing he was a normal teenager, Xavier had no idea that he actually hailed from a long line of monster hunters. The evils around him were oblivious to his existence, thanks to a technique used by his father before he died. But when Xavier turned eighteen, that protection faded and the things that lived in his nightmares suddenly became his reality. 
    
        Now, Xavier must learn the ways of his ancestors in order to survive the coming war between the Dark-Hunters and the forces of evil. Under the guidance of his vampire protector Saeko, and with the help of some new monster-slaying friends, Xavier must tap into new abilities and master the skills his father never passed down to him, in order to ensure the darkness doesn't overwhelm the world. </p>
    </div>
</div>