/* You can add global styles to this file, and also import other style files */
body{
background: linear-gradient(135deg, black, white);
justify-content: center;
align-content: center;
align-items: center;
}

h1{color:white;
    border: 1px black;
    text-shadow: 2px 2px black;}

h3{
    color:white;
    border: 1px black;
    text-shadow: 2px 2px black;
}

p{
    color: white;
}