<h1>N.M. Porterfield</h1>
<img src="../../assets/images/Author4.jpg" alt="">
<br>
<div class="container">

    <p>
        N.M. Porterfield is a novelist, comic book writer, poet, and aspiring screenwriter living in the Queen City of Charlotte, NC. He has a degree in Business administration and is also a full-stack web developer. A husband and father of three, N.M. pulls from his own vast experiences to bring his many books to life. Best known for writing thrillers, drama, and sci-fi novels, he has also self published two books of poetry and a non-fictional how-to guide on relationships called The Lover’s Man-ual. 
    
    The writer of exciting titles such as Xavier Reynolds: Blood Ties, Candy, and Thrill of the Hunt, his work has been depicted as ”vividly descriptive” and ”captivating, ” with readers often saying they couldn't put the book down and ”it felt like they were watching a movie.” N.M. draws inspiration from his own life, as well as his passion for gaming, comic books, and anime. N.M. hopes to be able to continue to create characters that are representative of the imaginations of everyone while portraying the diversity of the world we live in.  You can connect with N.M. Porterfield by going to patreon.com/urfavoriteauthor and subscribing or following him on twitter @URxFAVxAUTHOR.
    </p>
</div>